{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>{% if title %}{{ title | capfirst }}{% else %}Django Blog{% endif %}</h2>
  <br>
  <div class="row">
  {% for post in posts %}
    <div class="col-md-6">
      <div class="img-thumbnail">
        <a href="{% url 'blog:post_detail' slug=post.slug id=post.id %}">{{forloop.counter}}. {{post.title}}</a>
        <small style="float:right">{{post.created}}</small>
        <br>
        Author: {{post.author}}<br>
        <p>{{post.body}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
